
#userStuff{
    background:radial-gradient(grey,azure);
    background-size: cover;
    text-align: center;
    margin:0px;
    padding: 0px; 
    height:100%; 
    width:100%;
    /*min-height: 100%;*/
    background-color: azure;
    background-size:cover;
}
p{
    margin-top: 0;
}
ul{
    margin-top: 0;
    list-style-type: none;
}
button {
    margin-top:2%;
    font-size: x-large;
    background-color: black;
    margin-bottom: 2%;
    padding: 2.5%;
    color:white;
    cursor: pointer;

    /*padding: 1.5%;
*/
  }
  button:hover{
    background-color:lightseagreen;
  }