<html>
<header>
    AIRBNB 
</header>
<body>
<div id="userStuff">
<ul>
    <li><p>UserName: {{current.userName}}</p></li>
    <li><p>Password: {{current.password}}</p></li>
    <li><p>email: {{current.email}}</p></li>
    <li><p>firstName: {{current.firstName}}</p></li>
    <li><p>lastName: {{current.lastName}}</p></li>
    <li><p>phoneNumber: {{current.phoneNumber}}</p></li>
    <li>profile picture:<br>
        <img src="data:image/jpeg;base64,{{current.pic}}">
    </li>
    <li *ngIf="current.requestforOwner"><button (click)="confirmRequest()"> CONFIRM CURRENT USERS REQUEST</button></li>
    <li *ngIf="current.owner"><button (click)="GetUserApps()">DOWNLOAD(JSON) APARTMENTS PROVIDED BY THIS HOST</button>   </li>
    <li *ngIf="current.owner"><button (click)="GetUserReviews()">DOWNLOAD(JSON) REVIEWS ON THIS HOST'S APPARTMENTS</button></li>
    <li *ngIf="current.renter"><button (click)="getConducterRevies()">DOWNLOAD(JSON) ALL REVIEWS PROVIDED BY THIS USER</button></li>
    <li *ngIf="current.renter"><button (click)="getBookingsClient()">DOWNLOAD ALL BOOKINGS BY THIS USER</button></li>
    <li *ngIf="current.owner"><button (click)="getBookingsHost()">DOWNLOAD ALL BOOKINGS ON THIS HOSTS APPARTMENTS</button></li>
    <br>
</ul>
</div>
</body>
</html>