<html>
<header>
  ADMIN PAGE
</header>
<div class="admincontainer">
    <div id="result" *ngIf="this.httpUsr.isAdminloggedIn()">
      Login successful, available options:
    </div>
    <ul *ngIf="this.httpUsr.isAdminloggedIn()">
      <div>
        <button (click)="getAllUsers()">get All users</button>
      </div>
      <div>
        <button (click)="logout()">Logout</button>
      </div>
      <div>
        <button (click)="getApps()">Download all apartments</button>
      </div>
    </ul>
    <p id="httpResult"></p>
    <ul *ngIf="ShowUsers">
      <div id="usernameLine0">
        Username - Click for user details
      </div>
        <li *ngFor="let User of userList">
          <div class="username">
            {{User.userName}}
          </div>
          <div class="userDetails">
            <a href='#' routerLink="/userDetails/:{{User.userName}}">User Details</a>
          </div>
    </ul>
</div>