<h3>Change the appartemnt components you want and leave the others the same</h3>
<p>Adress:</p> <!--here we will put open maps-->
<input type="text" [(ngModel)]="cur.address">
<p>capacity:</p>
<input type="text" [(ngModel)]="cur.capacity">
<p>Size:</p>
<input type="text" [(ngModel)]="cur.size">
<p>Appartment's pictures bellow</p>
<!--<img src="data:image/jpeg;base64,{{this.imageList[0].pic}}" id="photo-id"/>-->
<li *ngFor="let cur of imageList | paginate: { itemsPerPage: 3, currentPage: p }">
    <img src="data:image/jpeg;base64,{{cur.pic}}">
    <br><button (click)="DeleteImage(cur.id)">Click here to delete this picture</button>
</li>
<div class="text-right" >
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!----------------------------------------------->
<h1>Add a new Picture Bellow</h1>

<div>
    <input type="file" (change)="onFileChanged($event)">

</div>
<button (click)="AddPic()"  value="upload" >GO</button>
<p *ngIf="cur.description">Appartments description is:</p>
 {{cur.description}}
<p>if you want to change the description provide new description bellow</p>
<input type="textarea"  [(ngModel)]="cur.description">
<button (click)="ChangeDescription()">click here to upload the new description</button>
<!--<img src={{imageToShow}}-->
