
  button {
    margin-top:2%;
    font-size: x-large;
    background-color: azure;
    margin-bottom: 2%;
    color:blue;
    /*padding: 1.5%;
*/
  }
  #welcome {
   border-radius: 10px;
    background-color: white;
    opacity: 75%;
    text-align: center;
    width: 400px;
    font-size: 120%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #admincontainer {
    border-radius: 45%;
    background-color: darkslategray;
    opacity: 75%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 20px;
    margin-bottom: 3%;
  }
  #admincontainer:hover {
    opacity: 90%;
  }
  ul{
    list-style-type: none;
  }
  li{
    list-style-type: none;
    background-color: lightgray;
    border-style: solid;
    margin-bottom: 2%;

  }
  #Bookings{
    margin-left: 2%;
    margin-right: 2%;
  }