<html>
<header>
    AIRBNB
</header>
    <div id="welcome" *ngIf="this.http.loggedIn()">Welcome  {{this.testUsr.userName}}</div>
<div id="admincontainer">
    <div id="actions" *ngIf="this.http.loggedIn()"><h2>Available Actions</h2></div>
    <nav *ngIf="this.http.loggedIn()"> 
        <button routerLink="/editProfile">Edit Profile Data</button>
        <div *ngIf="this.testUsr.renter"><button routerLink="/appartment">Search for appartments</button></div>
        <div *ngIf="this.testUsr.owner"><button   routerLink="/manageApp">Manage your appartments</button></div>
        <button (click)="logout()" >Click here to logout</button>
    </nav>
</div>
  