<p>price {{cur.price}}</p>
<h2>space of the appartment:</h2>
<p>size(square meters): {{cur.size}} </p>
<p>number of beds {{cur.numberOfBeds}}</p>
<p>number of bathrooms: {{cur.numberOfBathrooms}}</p>
<p>type {{cur.type}}</p>
<p>number of bedrooms: {{cur.numberOfBedrooms}}</p>
<p *ngIf="cur.hasLivingRoom">This appartment has a living room</p>
<p *ngIf="cur.hasLivingRoom==false">This appartment does not have a living room</p>
<!--------------------------------------------------->
<h2>description</h2>
<p>description: {{cur.description}}</p>
<!-------------------------------------------------------------->

<h2>Other services provided by the appartment</h2>
<ul id ="services">
    <li  *ngIf="cur.hasheat"><p >AirConditioning</p></li>
    <li *ngIf="cur.hasTv"><p >Television</p></li>
    <li *ngIf="cur.hasElevator"><p >Elevator or ground floor </li>
    <li *ngIf="cur.floor==0"><p >Elevator or ground floor </li>
    <li *ngIf="cur.hasWifi"><p > Wifi</p></li>
    <li *ngIf="cur.hasParking"><p >Parking</p></li>
</ul>
<h2>Appartment Rules:</h2>
<ul id ="rules">
    <li><p *ngIf="cur.allowPets; else eb1">Pets are Allowed</p>
    <ng-template  #eb1><p>Pets are not allowed</p></ng-template>
    </li>
    <li><p *ngIf="cur.allowSmoking; else eb2">Smoking is Allowed</p>
        <ng-template  #eb2><p>Smoking is not allowed</p></ng-template>
    </li>
    <li><p *ngIf="cur.idAvailable; else eb3">Parties/social events Allowed</p>
        <ng-template #eb3><p>Parties/social events not allowed</p></ng-template>
    </li>
    <li>Minumum dates you must book the appartment: {{cur.minDatesToBook}}</li>
</ul>
<!---------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------>
<h2>Information about the appartment's location</h2>
<p>address:{{cur.address}}</p>
<p>owner: {{cur.ownername}}</p>
<p> access: {{cur.accessInfo}}</p>
<!------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------->
<h2>Pictures:</h2>
<li *ngFor="let cur of imageList | paginate: { itemsPerPage: 3, currentPage: p }">
    <img src="data:image/jpeg;base64,{{cur.pic}}">
</li>

<div class="text-right" >
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div *ngIf="this.userLoggedIn==true">
    <button (click)=Book()>Book it</button><br>
<button  (click)="message()">Got any Questions Click here to messange the owner</button>
</div>
<!--<button  *ngIf="this.userhttp.loggedIn()" id="linker"routerLink="/chat/:sender:{{this.userhttp.getLastUsr().userName}}/:receiver:{{this.cur.ownername}}">Got any Questions Click here to messange the owner</button>
--><h1 id="resUlt"></h1>
<h2>Appartment's geographical location </h2>
<div id="map" class="map"></div>
<p *ngIf="this.userLoggedIn">Have you already visited this appartment? Provide a review(0-5) stars</p>
<input style="margin-left: 26px; margin-bottom:26px ;" type="number" [(ngModel)]="review">
<button style="margin-left: 26px; margin-bottom:26px ;" (click)=submit()>Submit</button><br>

<p *ngIf="has_reviewed">Your review has already been sent</p>


