input{
    margin-bottom: 1.5%;
    margin-top:1.5%;
    margin-left:3%;
    margin-right: 3%;
}
p{
    margin-left:3%;
    margin-right: 3%;
}
li{
    margin-bottom: 5%;
    margin-top:5%;
    margin-left:5%;
    margin-right: 5%;
}
button{
    margin-left:5%;
    margin-top: 1%;
    
}
#choice{
    margin-left: 5%;
    font-size: x-large;
    background-color: azure;

}
option{
    font-size: x-large;
}
textarea{
    height: 5%;
}
#wrapper{
    margin-left: 2.5%;
    height:100%;
}
#updateApp{
    padding: 2%;
    font-size: x-large;
    background-color: azure;
    margin-bottom: 2.5%;
}
label{
    margin-left: 2.5%;
}
button{
    padding: 1%;
    font-size: large;
    background-color: azure;
}
html {
    background-color: cadetblue;
    background-size: cover;
}
.check{
    width:20px;
    height:20px;
}
li{
    list-style-type: none;
}
#messages li{
    background-color: beige;
    border-style: solid;
}
h3{
    margin-top:0px;
}