input{
    margin-bottom: 1.5%;
    margin-top:1.5%;
    margin-left:3%;
    margin-right: 3%;
}
p{
    margin-left:3%;
    margin-right: 3%;
}
li{
    margin-bottom: 5%;
    margin-top:5%;
    margin-left:5%;
    margin-right: 5%;
}
button{
    font-size: x-large;
    margin-left:5%;
    margin-top: 1%;
    cursor: pointer;
}
button:hover{
    background-color: lightseagreen;
}
#choice{
    margin-left: 5%;
    font-size: x-large;
    background-color: azure;

}
option{
    font-size: x-large;
}
textarea{
    height: 5%;
}
#wrapper{
    margin-left: 2.5%;
    height:100%;
}
#updateApp{
    padding: 2%;
    font-size: xx-large;
    background-color: azure;
    margin-bottom: 2.5%;
    cursor: pointer;
}
#updateApp:hover{
    background-color: lightseagreen;
}
label{
    margin-left: 2.5%;
}
html {
    background-color: cadetblue;
    background-size: cover;
}
.check{
    width:20px;
    height:20px;
}
li{
    list-style-type: none;
}
img{
    cursor: pointer;
}
img:hover{
    transform:scale(1.5);
}
#messages li{
    background-color: beige;
    border-style: solid;
    opacity: 75%;
    cursor: pointer;
}
#messages li:hover{
opacity: 100%;
}
h3{
    margin-top:0px;
}