html {
    background: url('login.jpg') white no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 110%;
    height: 100%;
    background-attachment: fixed;
    position:fixed;   
    left: 0;
    text-align: center;
    min-height: 100%;
    min-width: 100%;
  }
  #typeStuff {
    background-color: white;
    opacity: 75%;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
  }
  #typeStuff:hover {
    opacity: 90%;
  }
  .form {
    margin-bottom: 20px;
  }
  button {
    margin-top:2%;
    font-size: xx-large;
    background-color:white;
    margin-bottom: 2%;
    padding: 2.5%;
    color:black;
    opacity: 75%;
    cursor: pointer;
  }
  button:hover{
    background-color:lightseagreen;
    opacity: 95%;
  }