html {
  font-weight: bold;
  font-size: 110%;
  height: 100%;
  /*background-attachment: fixed;
  position:fixed;*/
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
header {
  margin-top: 0px;
  font-style: italic;
  font-family: "Calibri";
  color:black;
  padding: 5px;
  text-align: center;
  background-color: white;
  opacity: 75%;
  font-size: 150%;
}
.admincontainer {
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 1px;
  opacity: 75%;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
button {
  padding: 10px 25px;
  text-align: center;
  font-family: "Calibri";
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  margin-bottom: 25px;
  border-color: 3px black solid;
}
button:hover {
  opacity: 100%;
}
.username {
  float: left;
}
.userDetails {
  float: right;
  margin-right: 15px;
}