<html>
<header>
  ADMIN PAGE
</header>
<div class="admincontainer">
    <div id="result" *ngIf="this.httpUsr.isAdminloggedIn()">
      Login successful, available options:
    </div>
    <ul *ngIf="this.httpUsr.isAdminloggedIn()">
      <div>
        <button (click)="getAllUsers()">get All users</button>
      </div>
      <div>
        <button (click)="logout()">Logout</button>
      </div>
      <div>
        <button (click)="getApps()">Download all apartments, xml format</button>
      </div>
      <div>
        <button (click)="getAppsJson()">Download all apartments,Json format</button>
      </div>
    </ul>
    <p id="httpResult"></p>
    <div *ngIf="ShowUsers">
      <table>
        <tr>
          <th>Username</th>
          <th>Click for user details</th>
        </tr>
        <tr *ngFor="let User of userList | paginate: { itemsPerPage: 10, currentPage: p }" >
          <td>{{User.userName}}</td>
          <td><a href='#' routerLink="/userDetails/:{{User.userName}}">User Details</a><br></td>
        </tr>
    </table>
    <div class="text-right" >
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>