html {
  font-weight: bold;
  font-size: 110%;
  height: 100%;
  /*background-attachment: fixed;
  position:fixed;*/
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
header {
  margin-top: 0px;
  font-style: italic;
  font-family: "Calibri";
  color:black;
  padding: 5px;
  text-align: center;
  background-color: white;
  opacity: 75%;
  font-size: 150%;
}
.admincontainer {
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 1px;
  opacity: 75%;
  width: 60%;
  display: block;
  margin-left: auto;
  background-color: gray;
  margin-right: auto;
}
a{
  color:lightseagreen
}
.admincontainer:hover{
  opacity: 95%;
}
button {
  margin-top:2%;
  font-size: x-large;
  background-color: black;
  margin-bottom: 2%;
  padding: 2.5%;
  color:white;
  cursor: pointer;
}
button:hover{
  background-color:lightseagreen;
}
.username {
  float: left;
}
.userDetails {
  float: right;
  margin-right: 15px;
}
