button{
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-left: 3%;
  margin-bottom: 2%;
  cursor: pointer;
}
button:hover{
  background-color: turquoise;
}
p{
  margin-left: 3%;
}
h2{
  margin-left: 2%;
}
ul{
  margin-left: 5%;
}
li{
  margin-left: 1%;
  margin-bottom: 2%;
  list-style-type: none;

}

#messages li{
  background-color: beige;
  border-style: solid;
}
img{
  cursor: pointer;
}
img:hover{
  transform:scale(1.5);
}
#map:hover{
  transform:scale(1.5);
}