html {
    background: url('signup_background_2.jpg') white no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 110%;
    background-attachment: fixed;
  }

  #pleaseFillOut {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    opacity: 75%;
    text-align: center;
    width: 600px;
    font-size: 160%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  .pleaseTypeStuff {
    border-radius: 10px;
    padding-top: 10px;
    font-family: "Calibri";
    text-align: center;
    background-color: white;
    opacity: 75%;
    width: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pleaseTypeStuff:hover {
    opacity: 90%;
  }
  .form {
    margin-bottom: 20px;
  }
  #checker{
    transform: scale(2);
    margin-bottom: 25px;
  }
  button {
    opacity: 75%;
    margin-top: 20px;
    border-radius: 10px;
    border-color: black;
    border: 3px black solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin-left: 0px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button:hover {
    opacity: 100%;
  }